.root {
  width: 400px;
  height: 600px;
  overflow-y: auto;
}

.group {
  display: grid;
  padding: 20px 0;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  gap: 10px;

  content-visibility: auto;
  contain-intrinsic-size: auto 880px;
}

.button {
  appearance: none;
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  line-height: 1;
  background: transparent;
  text-rendering: optimizeSpeed;
  border: 0;
  cursor: pointer;
}
